@media screen and (max-width: 500px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-menus {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
    
    .nav-menus ul{
        flex-direction: column;
        gap: 20px;
    }
    
    .btn-prm {
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }
    
    .nav-heading{
        justify-content: center;
    }
    /* nav done resp small */

    .banner-container{
        flex-direction: column;
    }
    .img-bag-resp{
        width: 350px;
        margin-top: 5px;
        
    }
    #btn-two-id{
        margin-bottom: 8px;
        margin-right: 0;
    }
    /* banner one done resp small  */
    .banner-two{
        grid-template-columns: repeat(2, 1fr);
    }
    /* banner two done resp small  */
    .tshir-cont{
        flex-direction: column;
    }
    .t-resp{
        width: 90%;
        margin-left: 20px;
        
    }
    .percent{
        display: none;
    }

    /* tshirt part done small resp  */
    .footer{
        grid-template-columns: repeat(1, 1fr);
    }
    /* resp small device done  */
}





/* for mid device  */
@media screen and (min-width: 500px) and (max-width: 800px) {
.nav-container {
    flex-direction: column;
}

.nav-heading{
    justify-content: center;
}

.nav-menus{
    justify-content: center;
}
/* nav done resp mid */

.img-bag-resp{
    width: 500px;
}
/* banner one and two done resp mid  also tshirt  */

.footer{
    grid-template-columns: repeat(2, 1fr);
}

/* resp mid device done  */

}


/* the website is ready for mob and tab and laptop 15 inc   lotus code C L M H */