@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

    /* font-family: 'Dancing Script', cursive; */

/* style nav bar  */
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-heading{
    display: flex;
    align-items: center;
}
.nav-menus{
    display: flex;
    align-items: center;
     gap: 70px;
}
.nav-menus ul{
    display: flex;
    gap: 70px;
}
.nav-menus ul li{
    list-style: none;
    
}
.nav-menus li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav{
    background-color: #9376e0;
}

.nav-head-ttl{
    font-size: 35px;
}

#diff-col{
    color: #e893cf;
}

.btn-prm{
    font-size: 22px;
    font-weight: 600;
    margin-right: 15px;
    background-color: #e893cf;
    padding: 10px 20px;
    border: 0px;
    border-radius: 6px;
}

/* nav style finish  */

/* main style start  */

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e9eb;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    
}
.banner-txt-details{
    text-align: center;
   width: 50%;
}
.banner-ttl{
    background-image: linear-gradient(to bottom,#9376e0,#e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}
.banner-des{
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}

.btn-two{
    background-color: transparent;
    border: 2px solid blueviolet;
    padding: 10px 15px;
    border-radius: 3px;

}
#btn-two-id{
    margin-right: 8px;
}

.btn-two:hover{
    border: 2px solid red;
}

/* banner two style  */

 .cart{
    background-color: rgba(112, 128, 144, 0.281);
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 2px 2px 4px black;
 }
 .banner-two{
    display: grid;
    margin: 50px auto 0;
    min-height: 400px;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin-bottom: 50px;
 }

 #product{
    text-align: center;
 }

 .img-bag{
    text-align: center;
 }

 /* tshir style  */

 .tshir-cont{
    display: flex;
    justify-content: space-around;
    background-color: #9376e0;
    padding: 40px;
    margin-bottom: 50px;
 }
 .t-txt{
    width: 50%;
    margin: auto;
 }

 .percent{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgb(128, 128, 16);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;

    position: relative;
    bottom: 82%;
    left: 68%;

    padding: 10px;
 }

 /* footer style  */

 .foot-img{
    display: flex;
    justify-content: space-between;
 }

 .footer-cont{
    background-color: #e893cf;
    border: 1px solid green;
    border-radius: 8px;
 }

 .footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 60px;
    border: 1px solid red;
 }

 .buy-t{
    background-color: white;
    border: 2px solid gray;
    padding: 7px;
 }

 .buy-t:hover{
    background-color: red;
    color: white;
    border: 1px solid black;
    font-weight: bold;
 }

 /* done without responsive  */